body {
	background: #F6DFC3;
	font-family: librefranklin;
	font-size: 62.5%;
}
main {
	padding:20px;
}
h1 {
	@include font-size(6);
	font-family: dehuti;
	font-weight:bold;
	margin:0 0 .25em;
}
h2 {
	@include font-size(2);
	font-weight:bold;
	margin:0 0 1em;
}
p {
	@include font-size(1.6);
	+ p {
		margin:1em 0;
	}
	a {
		@include font-reset();
	}
}
ul {
	margin:1.5em 0;
}
ol {
	padding-left:1.6em;
	li {
		list-style: decimal;
	}
}
li {
	@include font-size(1.6);
	a {
		@include font-reset();
	}
}
// to be revised
a {
	@include font-size(1.6);
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
}
.text-link {
	text-decoration: underline;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}
.visibly-hidden {
	left:-999em;
	position:absolute;
	top:-999em;
}