body {
	font-size: 62.5%;
}
main {
	padding:20px;
}
h1 {
	@include font-size(4);
	font-weight:bold;
	margin:0 0 20px;
}
h2 {
	@include font-size(2);
	font-weight:bold;
	margin:0 0 20px;
}
p {
	@include font-size(1.6);
	+ p {
		margin:1em 0 0;
	}
}
li {
	@include font-size(1.6);
}
// to be revised
a {
	@include font-size(1.6);
}