@font-face {
  font-family: 'icomoon';
  src: url('../../../assets/fonts/icomoon/fonts/icomoon.eot?12893200');
  src: url('../../../assets/fonts/icomoon/fonts/icomoon.eot?12893200#iefix') format('embedded-opentype'),
       url('../../../assets/fonts/icomoon/fonts/icomoon.woff2?12893200') format('woff2'),
       url('../../../assets/fonts/icomoon/fonts/icomoon.woff?12893200') format('woff'),
       url('../../../assets/fonts/icomoon/fonts/icomoon.ttf?12893200') format('truetype'),
       url('../../../assets/fonts/icomoon/fonts/icomoon.svg?12893200#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}